node_modules/
.idea/
artifacts/
config/result/
droid/b/ant/ivy-report.css
droid/b/ant/com.example-currency-converter-default.graphml
droid/b/ant/com.example-currency-converter-default.html
droid/b/ivy/ivy.jar
droid/b/libs/
ios/Podfile.lock
ios/Pods/
ios/b.xcworkspace/
.node_updated
.rake/
.sass-cache/
web/apache/logs/
web/apache/public/
web/public/
web/apache/conf/httpd.conf
**.patch
**.psd
