%div#all_requests.page
  %div.page-content
    %h3.list-title.text-center
      Blood Requests - B+
    %ul.requests
      %li.request
        %table
          %tr
            %td.person-details.col-1.text-left
              .name
                Vishnu Narang
              .address
                Pune, Pimpri
              .blood-details
                %span.blood-group
                  Needs:
                  %strong B+
                %span.seperator
                  ,
                %span.blood-units
                  %strong 5 Units
            %td.col-2.text-center.location-details
              .location.center-aligned
                %i.icon-blip
            %td.col-3.text-center.notificaion-details
              .notify-icon.center-aligned
                %i.icon-notification
      %li.request
        %table
          %tr
            %td.person-details.col-1.text-left
              .name
                Priyank Gupta
              .address
                Pune, Pimple Saudagar
              .blood-details
                %span.blood-group
                  Needs:
                  %strong B+
                %span.seperator
                  ,
                %span.blood-units
                  %strong 5 Units
            %td.col-2.text-center.location-details
              .location.center-aligned
                %i.icon-blip
            %td.col-3.text-center.notificaion-details
              .notify-icon.center-aligned
                %i.icon-notification
      %li.request
        %table
          %tr
            %td.person-details.col-1.text-left
              .name
                Bill Gates
              .address
                Hyderabad, somewhere
              .blood-details
                %span.blood-group
                  Needs:
                  %strong B+
                %span.seperator
                  ,
                %span.blood-units
                  %strong 5 Units
            %td.col-2.text-center.location-details
              .location.center-aligned
                %i.icon-blip
            %td.col-3.text-center.notificaion-details
              .notify-icon.center-aligned
                %i.icon-notification
