%div#userSetup.page
  #setupData
    %form.pure-form.pure-form-stacked
      %fieldset
        %legend User Setup

        %label{:for => "userName"} Name
        %input#userName{:type => "text", :name => "userName"}

        %label{:for => "userBloodGroup"} Blood Group
        %select#userBloodGroup
          %option{ :value => "choose"} Select
          %option{ :value => "apositive"}A Positive
          %option{ :value => "anegative"}A Negative
          %option{ :value => "bpositive"}B Positive
          %option{ :value => "bnegative"}B Negative
          %option{ :value => "opositive"}O Positive
          %option{ :value => "onegative"}O Negative
          %option{ :value => "abpositive"}AB Positive
          %option{ :value => "abnegative"}AB Negative

        %label{:for => "notificationRadius"} Notification Radius
        %input#notificationRadius{:type => "text", :name => "notificationRadius"}

        %label &nbsp;
        %div#saveUserPreferences.pure-button.pure-button-primary{:name => "saveUserPreferences"} Save