%div#userSetup.page
  #setupData
    %form.pure-form.pure-form-stacked
      %fieldset
        %legend User Setup

        %div.pure-group
          %input.pure-input-1#userName{:type => "text", :name => "userName", :placeholder => "Display name"}

        %div.pure-group
          %input.pure-input-1#notificationRadius{:type => "text", :name => "notificationRadius", :placeholder => "Notification radius in Kms"}

        %div.pure-group
          %select.pure-input-1#bloodGroup
            %option{ :value => "choose"} Select Blood Group
            %option{ :value => "apositive"}A Positive
            %option{ :value => "anegative"}A Negative
            %option{ :value => "bpositive"}B Positive
            %option{ :value => "bnegative"}B Negative
            %option{ :value => "opositive"}O Positive
            %option{ :value => "onegative"}O Negative
            %option{ :value => "abpositive"}AB Positive
            %option{ :value => "abnegative"}AB Negative

        %label &nbsp;
        %div#saveUserPreferences.pure-button.pure-button-primary.pure-button-large{:name => "saveUserPreferences"} Save
        %div#transitionNext