%div#userSetup.page
  #setupData
    %form.pure-form.pure-form-stacked
      %fieldset
        %legend.page-header-center User Settings

        %div.pure-group.margin-top
          %input.pure-input-1#userName{:type => "text", :name => "userName", :placeholder => "Display name"}

        %div.pure-group.margin-top
          %select.pure-input-1.select-box-large#bloodGroup
            %option{ :value => "choose"} Select Blood Group
            %option{ :value => "apositive"}A Positive
            %option{ :value => "bpositive"}B Positive
            %option{ :value => "abpositive"}AB Positive
            %option{ :value => "opositive"}O Positive
            %option{ :value => "anegative"}A Negative
            %option{ :value => "bnegative"}B Negative
            %option{ :value => "abnegative"}AB Negative
            %option{ :value => "onegative"}O Negative

        %div.pure-group.margin-top
          %select.pure-input-1.select-box-large#notificationRadius
            %option{ :value => "choose"} Donation lookup radius (Kms)

        %label &nbsp;
        %div#saveUserPreferences.pure-button.pure-button-primary.pure-button-large.pure-button-primary-center-custom{:name => "saveUserPreferences"} Save
        %div#transitionNext