%div#donationRequestListing.page
  %script#donationListingTmpl(type="text/html")
    %ul.list
      {{#donations}}
      %li.request
        .pure-g
          .pure-u-1-4
            .avatar
              -# This should be replaced by some image/avatar image.
              %i.icon.icon-users-2
          .pure-u-1-2
            .title.name {{requestor}}
            .subtitle.address
              %span {{contact_details}}
              %a.locator{:href=>"#"}
                %i.icon.icon-marker
            .highlight.blood-details
              %strong {{blood_group}}
              %span of
              %strong {{quantity}}
              %span Units
          .pure-u-1-4

      {{/donations}}

  %h4.list-title.text-center#loadingBanner
    Loading Donation Requests

  #donationListing