%div#donationRequestListing.page
  %script#donationListingTmpl(type="text/html")
    %ul.list
      {{#donations}}
      %li.request
        .pure-g
          .pure-u-1-4
            .avatar
              %i.icon.icon-users-2
          .pure-u-1-2
            .title.name {{requestor}}
            .subtitle.address
              %span {{contact_details}}
              %a.locator{:href=>"#"}
                %i.icon.icon-marker
            .highlight.blood-details
              %strong {{quantity}}
              %span Units
              %span of
              %strong {{blood_group}}
          .pure-u-1-4

      {{/donations}}

  %script#noDonationRecordsBannerTmpl(type="text/html")
    %h4.list-title.text-center#noDonationRecordsMessage
      No donation records found

  %h4.list-title.text-center#loadingBanner
    Fetching list based on you location...

  #donationListing