%div#newDonationRequest.page
  %div.action-bar.clearfix.text-center
    %h2.page-title
      New Request

  #newRequest
    .field
      %label.span150.vertical-top.field-label Blood Group
      %input#bloodgroup.span150.field_value{:type => "text", :name => "bloodgroup"}

    .field
      %label.span150.vertical-top.field-label Quantity
      %input#quantity.span150.field_value{:type => "text", :name => "quantity"}

    .field
      %label.span150.vertical-top.field-label Contact Details
      %textarea#contact_details.span150.multiline_string{:name => "contact_details"}

    .field
      %label.span150.vertical-top.field-label Location
      .field_value.span150.text-center
        %img#location.image-button{:src => "../images/place.png"}

    .action
      %button#submitDonationRequest.submit-button{:name => "submitDonationRequest"}
        Create