%div#newDonationRequest.page

  %form.pure-form.pure-form-stacked
    %fieldset
      %legend.page-header-center New Request

      #newRequest
        .field
          %label.span150.vertical-top.field-label
          %input.pure-input-1#bloodGroup{:type => "text", :name => "bloodgroup", :placeholder => "Blood Group"}

        .field
          %label.span150.vertical-top.field-label
          %input.pure-input-1#quantity{:type => "text", :name => "quantity", :placeholder => "Quantity"}

        .field
          %label.span150.vertical-top.field-label
          %textarea.pure-input-1#contactDetails.multiline_string{:name => "contact_details", :placeholder => "Contact Details"}

        .field
          %label.span150.vertical-top.field-label
          .field_value.span150.text-center
            %img#location.image-button{:src => "../images/place.png"}

        .action
          %div.pure-button-primary-center-custom#submitDonationRequest.pure-button.pure-button-primary.pure-button-large{:name => "submitDonationRequest"}
            Create