%div#newDonationRequest.page

  %form.pure-form.pure-form-stacked
    %fieldset
      %legend.page-header-center New Request

      #newRequest
        %div.pure-group.margin-top
          %select.pure-input-1.select-box-large#bloodGroup{:name => "bloodgroup"}
            %option{ :value => "choose"} Select Blood Group
            %option{ :value => "a+"}A Positive
            %option{ :value => "b+"}B Positive
            %option{ :value => "ab+"}AB Positive
            %option{ :value => "o+"}O Positive
            %option{ :value => "a-"}A Negative
            %option{ :value => "b-"}B Negative
            %option{ :value => "ab-"}AB Negative
            %option{ :value => "o-"}O Negative

        %div.pure-g.margin-top
          %select.pure-input-1.select-box-large#quantity{:name => "quantity"}
            %option{ :value => "choose"} Select Quantity
          %div.pure-u-1-3.pure-button.pure-button-primary.pure-u-1-3#location
            Select Location

        %div.pure-group.margin-top
          %textarea.pure-input-1#contactDetails.multiline_string{:name => "contact_details", :placeholder => "Contact Details"}

        .action
          %div.pure-button-primary-center-custom#submitDonationRequest.pure-button.pure-button-primary.pure-button-large{:name => "submitDonationRequest"}
            Create

        #goHome