%div#listing.page
  %div.page-content
    %h3.list-title.text-center
      Blood Requests - B+

    %script#donationListingTmpl(type="text/html")
      {{#donations}}
      %li.request
        %table
          %tr
            %td.person-details.col-1.text-left
              .name
                {{requestor}}
              .address
                {{contact_details}}
              .blood-details
                %span.blood-group
                  Needs:
                  %strong {{blood_group}}
                %span.seperator
                  ,
                %span.blood-units
                  %strong {{quantity}} Units
            %td.col-2.text-center.location-details
              .location.center-aligned
                %a{href: '#'}
                  %i.icon-blip
            %td.col-3.text-center.notificaion-details
              .notify-icon.center-aligned
                %a{href: '#'}
                  %i.icon-notification
      {{/donations}}

    %h4.list-title.text-center#loadingBanner
      Loading Donation Requests

    %ul.requests
      #donationListing
