// fix the build task so that we can remove these dependencies in all _CSS.scss files.
@import "variables";
@import "mixins";
@import "web_fonts";

body {
  .drawer-menu {
    border: 1px solid white;
    position: absolute;
    top: 2px;
    bottom: 0;
    background: $plain-white;
    z-index: 10;
    .menu-head {
      background-color: $black;
      height: 50px;
      width: 240px;
      a {
        display: block;
        .menu-title {
          color: $plain-white;
          height: 100%;
          line-height: 50px;
          display: inline-block;
        }
      }
    }
    ul.menu-body {
      border-left: 1px solid white;
      border-right: 1px solid white;
      li {
        border-top: 2px solid;
        padding: 5px;
        &:last-child {
          border-bottom: 2px solid;
        }
        a {
          display: block;
          .item-detail {
            color: #29B5E5;
            padding-left: 5px;
            height: 50px;
            line-height: 50px;
          }
        }
      }
    }
  }

  .page {
    min-width: 320px;
    padding-top: 52px;
    display: block;


    //Added to show all pages for now. To be removed once we get the navigation working
    ul.requests {
      li.request {
        margin-top: 5px;
        background-color: $wet-asphalt;
        min-height: 100px;
        &:last-child {
          border-bottom: 2px solid white;
        }
        table {
          width: 100%;
          td.col-3 {
            display: inline-block;
            width: 20%;
            .notify-icon {
              max-width: 60px;
              background-color: #2D3D44;
            }
          }
          table {
            width: 100%;
            td.col-3 {
              display: inline-block;
              width: 20%;
              .notify-icon {
                max-width: 60px;
                background-color: #2D3D44;
              }
            }
            td.col-2 {
              display: inline-block;
              width: 20%;
              .location {
                width: 60px;
              }
            }
            td.col-1 {
              min-width: 200px;
              display: inline-block;
              width: 50%;
              &.person-details {
                .address,
                .blood-details,
                .name {
                  margin: 6px 0;
                }
                .name {
                  color: $plain-white;
                  text-transform: capitalize;
                  font-size: 16px;
                  font-weight: bold;
                }
                .address,
                .blood-details {
                  text-transform: capitalize;
                  font-size: 14px;
                  color: #a9a9a9;
                }
              }
            }
          }
        }
      }
    }
  }
}