$black: #ecf0f1;
$header_blue: #c0392b;
$notification_count_background: #f1c40f;

$header_border: #e74c3c;
$pomegranate: #c0392b;
$wet-asphalt: #34495e;
$belize-hole: #2980b9;
$plain-white: #FFFFFF;

@font-face {
  font-family: "Roboto Light";
  src: url("../images/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../images/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../images/Roboto-Condensed.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../images/Roboto-Regular.ttf");
}

body {
  .drawer-menu {
    border: 1px solid white;
    position: absolute;
    top: 2px;
    bottom: 0;
    background: $plain-white;
    z-index: 10;
    .menu-head {
      background-color: $black;
      height: 50px;
      width: 240px;
      a{
        display: block;
        .menu-title{
          color: $plain-white;
          height: 100%;
          line-height: 50px;
          display: inline-block;
        }
      }
    }
    ul.menu-body{
      border-left: 1px solid white;
      border-right: 1px solid white;
      li{
        border-top: 2px solid;
        padding: 5px;
        &:last-child{
          border-bottom: 2px solid;
        }
        a{
          display: block;
          .item-detail{
            color: #29B5E5;
            padding-left: 5px;
            height: 50px;
            line-height: 50px;
          }
        }
      }
    }
  }

  .page {
    min-width: 320px;
    padding-top: 52px;
    display: block !important;

    .action-bar {
      background-color: $pomegranate;
      border-top: 2px solid $header_border;
      height: 50px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      max-width: 640px;
      margin: 0 auto;
      .page-title {
        height: 100%;
        line-height: 50px;
        display: inline-block;
        font-family: "Roboto Light";
        font-size: 25px;
      }
    }

    //Added to show all pages for now. To be removed once we get the navigation working
//<<<<<<< HEAD
//    &#listing {
//      .page-content {
//        .list-title {
//          height: 40px;
//          line-height: 40px;
//          color: #04FEFE;
//=======
    ul.requests {
      li.request {
        margin-top: 5px;
        background-color: $wet-asphalt;
        min-height: 100px;
        &:last-child {
          border-bottom: 2px solid white;
//>>>>>>> Modifying UI and also refactored code to be donationRequest instead of listing. Will add create page now
        }
        table {
          width: 100%;
          td.col-3 {
            display: inline-block;
            width: 20%;
            .notify-icon {
              max-width: 60px;
              background-color: #2D3D44;
            }
          }
          td.col-2 {
            display: inline-block;
            width: 20%;
            .location {
              width: 60px;
            }
          }
          td.col-1 {
            min-width: 200px;
            display: inline-block;
            width: 50%;
            &.person-details {
              .name {
                font-size: 16px;
                font-weight: bold;
              }
              .address,
              .blood-details {
                font-size: 14px;
                color: grey;
              }
            }
          }
        }
      }
    }
  }
}