@import "variables";

header {
  background-color: $pomegranate;
  border-top: 2px solid $header_border;
  .page-title {
    line-height: 50px;
    font-size: 25px;
  }
  a.menu-buttons{
    display: block;
    width: 45px;
    height: 45px;
    margin-top: 5px;
    &.left{
      float: left;
    }
    &.right{
      float: right;
    }
  }
}