.pure-button-primary-center-custom {
  margin: auto;
  display: block;
  width: 31%;
}

.select-box-large {
  height: 39px;
  font-size: 1.0em;
}

.margin-top {
  margin-top: 22px;
}

.page-header-center {
  text-align: center;
}

.pure-button-primary-menu-custom {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.map-box {
  min-height: 320px;
  width: 95%;
  margin: auto;
}