/**
 *  All global variables should go here.
 */

$black:                         #ecf0f1;
$header_blue:                   #c0392b;
$notification_count_background: #f1c40f;

$header_border:                 #e74c3c;
$pomegranate:                   #c0392b;
$wet-asphalt:                   #34495e;
$belize-hole:                   #2980b9;
$plain-white:                   #FFFFFF;