@font-face {
  font-family: "Roboto Light";
  src: url("../images/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Thin";
  src: url("../images/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../images/Roboto-Condensed.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../images/Roboto-Regular.ttf");
}
