!!!
%html
  %head
    %meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link(href="styles/web.css" rel="stylesheet" type="text/css")

    -%w{zepto ICanHaz underscore}.each do |filename|
      %script(type="text/javascript" src="scripts/#{filename}.js")

    - Calatrava::Project.current.mobile_web.scripts.each do |filename|
      %script(type="text/javascript" src="#{filename}")

  %body
    %div#app_container.container
      - Calatrava::Project.current.mobile_web.haml_files.each do |hf|
        = render_partial hf

  :javascript
    $(document).ready(function(){
      example.converter.start();      
    });
