%div#userSetup.page
  %div.action-bar.clearfix.text-center
    %h2.page-title
      User Setup

  #setupData
    .field_label Name
    %input#userName.field_value{:type => "text", :name => "userName"}

    .field_label Blood Group
    %select#userBloodGroup
      %option{ :value => "choose"} Select
      %option{ :value => "apositive"}A Positive
      %option{ :value => "anegative"}A Negative
      %option{ :value => "bpositive"}B Positive
      %option{ :value => "bnegative"}B Negative
      %option{ :value => "opositive"}O Positive
      %option{ :value => "onegative"}O Negative
      %option{ :value => "abpositive"}AB Positive
      %option{ :value => "abnegative"}AB Negative

    .field_label Notification Radius
    %input#notificationRadius.field_value{:type => "text", :name => "notificationRadius"}

    %button#saveUserPreferences.submit_button{:name => "saveUserPreferences"}
      Save