%div#menu.page
  #setupData
    %form.pure-form.pure-form-stacked
      %fieldset
        %legend Menu

        %div#donationRequests.pure-button.pure-button-primary{:name => "donationRequests"} All Requests
        %div#newDonationRequest.pure-button.pure-button-primary{:name => "newDonationRequest"} New Request
        %div#settings.pure-button.pure-button-primary{:name => "settings"} Settings