%div#menu.page
  #setupData
    %form.pure-form.pure-form-stacked
      %fieldset
        %legend.page-header-center Menu

        %div#donationRequests.pure-button.pure-button-primary.pure-button-primary-menu-custom{:name => "donationRequests"} All Requests
        %div#newDonationRequest.pure-button.pure-button-primary.pure-button-primary-menu-custom{:name => "newDonationRequest"} New Request
        %div#settings.pure-button.pure-button-primary.pure-button-primary-menu-custom{:name => "settings"} Settings